@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.Home {
  text-align: center;
  background-image: url('/public/hamburguer.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  overflow: hidden;
}

.Home-logo {
  height: 120px;
  padding: 25px;
  border-radius: 100%;
}

.Home-header {
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: x-large;
  background-color: #b22222;
  padding: 0 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.Navbar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.Navbar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

.Navbar a:hover {
  background-color: #ffcc00;
  color: #121212;
  transform: scale(1.1);
}

.conteudo {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .Navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #b22222;
    text-align: center;
    padding: 10px 0;
  }

  .Navbar.show {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
