.container {
    padding: 60px 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
  }
  
  .title {
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  
  .form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input {
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px 5px;
    font-size: 1em;
    background-color: transparent;
    transition: border-color 0.3s ease;
  }
  
  .input:focus {
    outline: none;
    border-bottom: 2px solid #1a8918;
  }
  
  .button {
    background-color: #1a8918;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    width: 140px;
    font-weight: bold;
    border: none;
    padding: 12px 18px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    align-self: center;
  }
  
  .button:hover {
    background-color: #0f730c;
  }
  